body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(0, 0, 0, 0.75);
    padding: 30px;
    margin: 0 auto;
    min-width: 330px;
    justify-content: center;
    display: flex;
}

.footer{
    margin: 30px 30px 0px 30px;
    font-size: smaller;
    color: grey;
}
.console{
    background-color:rgb(196, 220, 225);
    padding: 30px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius:1em;
    max-width: 275px;
    text-align: center;
    flex: 1;
}
.display{
    background-color: rgb(224, 224, 224);
    font-size: x-large;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0.25em;
    text-align: right;
    flex:1;
}

.buttons{
    margin-top: 30px;
    flex:1;
}

.button-row{
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    flex: 1;
    display: flex;
}

.button{
    color:rgba(0, 0, 0, 0.75);
    background-color: rgb(178, 202, 235);
    padding: 10px;
    font-size: medium;
    width: 4em;
    border: 1px solid grey;
    border-radius: 0.5em;
}

.button:active{
    background-color: rgb(139, 157, 184);
}

#zeroButton{
    width: 12.8em;
}